

/* NavBar */




    .navbar{
        font-family: 'Anton', sans-serif;
        font-size: 1.25vw;

        
    }

    .navbar-brand {
        font-size: 2vw
    }




/* HOME PAGE */

    /* Sign-Up */

    .sign-up-container {
        width: 100%;
        background-size: 100vw;
        background-repeat: no-repeat;
        opacity: 0.95;

    }

    .intro-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: right;
        padding-bottom: 25%;
    }




    .welcome {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 5vw;
        margin-left: 5em;
        color: white;
        
        
    }



    #intro-text {
        font-family: 'Fira Sans Condensed', sans-serif;
        text-align: center;
        font-size: 2vw;
        margin-top: 2em;  
        margin-bottom: 2em;
        color: white;
        
    }

    #sign-up-btn {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 2vw;
        margin-top: 0;
        margin-bottom: 2em;
        
        


    }


    /* About */

    .about-container{
        width: 100%;
        background-color: black;
        position: relative;
    }

    .about-us-container {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding-bottom: 20%;
        padding-top: 10%;
    }

    .welcome-2 {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 5vw;
        margin-top: 1em;
        color: white;
        text-align: center;
        margin-bottom: 1em;
    }
    .about {
        font-family: 'Fira Sans Condensed', sans-serif;
        text-align: center;
        font-size: 2vw;
        margin-top: 2em;  
        margin-bottom: 2em;
        color: white;
    }

    #logo {
        border-radius: 50%;
        width: 20vw;
        height: 15vh;
        /* margin-top: 4em; */
    }

    .logo-container {
        padding-top: 10%;
    }

    /* Find a Partner */


    .find-partner-container{
        width: 100%;
        background-size: 100vw;
        height: 100%;
        background-repeat: no-repeat;
        opacity: 0.95;
        background-color: black;
    }

    .welcome-3 {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 5vw;
        margin-bottom: 1em;
        text-align: center;
        color:white;
        margin-top: 4em;
    }
    .partner {
        font-family: 'Fira Sans Condensed', sans-serif;
        text-align: center;
        font-size: 2vw;
    }

    .partner-container {
        display: flex;
        flex-direction: column;
        justify-content: right;
        padding-bottom: 25%;
        
    }

    .partner-text {
        margin-top: 2.5em;
        margin-bottom: 2em;
        color: white;
    }

    .btn-partner{
        margin-top: 2em;
        margin-left: 7em;
        margin-right: 6em;
        margin-bottom: 2em;
    }








/* Auth pages */

.page-header{
    font-family: 'Fira Sans Condensed', sans-serif;
}





/* User Pages */

#profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


.profile-pic-container {
    padding-bottom: 10%;
}

.profile-pic-upload-btn {
    padding-left: 2%;
}

.profile-background-container {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
    background-size: cover;


    
}

.profile-page-container {
    background-color: black;
    opacity: 0.8;
    padding-left: 0%;
    

    
}

.page-background {
    background-image: linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    
}

.profile-header {
    margin-left: 15%;
    margin-top: 15%;
    margin-right: 5%;
    margin-bottom: 10%;
    justify-content: center;
}

.image-container {
    margin-left: 5%;
    margin-top: 15%;
    margin-right: 5%;
    margin-bottom: 10%;
    justify-content: center;
}

.user-info {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Fira Sans Condensed', sans-serif;
    
    font-size: 2vw;
}

.last-div {
    padding-bottom: 10%;
    
}

.user-info-b {
    font-weight: 600; 
   font-size: 1.75vw;
   font-style: bold;
}

.user-info-p{
   font-family: 'Fira Sans Condensed', sans-serif;
   font-weight: 300; 
   font-size: 1.5vw;
   
}

.info-header {
    font-size: 2.25vw;
    margin-right: 40px;
    font-weight: 900;
}


.personal-info{
    margin: 40px 0px;
}






/* Forum */

.image-header {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.posts {
    list-style-type: none;
}

.make-post-container {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600; 
    font-size: 2vw;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 25%;
    padding-bottom: 10%;
}

.posts-container {
    padding-top: 5%;
    background-color: white;
    height: 100vh;
}

.posts-title {
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.25vw;
    font-weight: 500;
    color: black;
    padding-bottom: 5%;
}

.post-container {
    margin-left: 7%;
    margin-right: 7%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 15px;
}

#icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post-pic-container{
    padding-left: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.post-pic-column {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.post-info-container {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.25vw;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.post-body-container {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
}








/* Partner Page */

ul.partners {
    list-style-type: none;
}

#icon2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.partner-find-container {
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-bottom: 2.5%;

}

.partner-info-p {
    font-size: 1.25vw;
}

.partner-find-header {
    font-family: 'Fira Sans Condensed', sans-serif;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 10%;
}

.header-info-p {
    font-family: 'Fira Sans Condensed', sans-serif;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 10%;
}

.partner-card {
    max-width: 540px;
    padding-right: 10%;
}