<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbr</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/climbr.css') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans+Condensed:wght@600&family=Teko:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="data:,">

    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

</head>
<body>

  
    
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;" >
        <a class="navbar-brand text-primary" href="{{ url_for('main.index') }}">CLIMBR</a>
        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active text-primary" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link text-primary" href="#">Find Partner</a>
            <a class="nav-link text-primary" href="#">About</a>
          </div>
          <div class='navbar-nav navbar-right'>
            
            {% if current_user.is_authenticated %}
              <a class="nav-link text-primary" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
              <a class="nav-link text-primary" href="{{ url_for('auth.logout') }}">Log Out</a>
              
            {% else %}
              <a class="nav-link text-primary" href="{{url_for('auth.signup') }}">Sign Up</a>
              <a class="nav-link text-primary" href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
              

          </div>
        </div>
      </nav>

        
        {% block flash_messages %}
          <div class='container'>
            {% for message in get_flashed_messages() %}
              <div class='alert alert-warning'>
                <button type="button" class="close" data-dismiss='alert'>&times;</button>
                {{ message }}
              </div>
            {% endfor %}

          </div>
            {% block content %}
            
            {% endblock content %}
          
        {% endblock flash_messages %}
          

        
        
          

        <nav class="navbar navbar-expand-lg navbar-dark fixed-bottom" style="background-color: black;">
          <a class="navbar-brand text-primary" href="#">CLIMBR</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active text-primary" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-link text-primary" href="#">Find Partner</a>
              <a class="nav-link text-primary" href="#">About</a>
              <a class="nav-link disabled text-primary" href="#" tabindex="-1" aria-disabled="true">Sign-Up</a>
            </div>
          </div>
        </nav>









    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>