{% extends 'main.html' %}



{% block content %}


<img class = bg-header src="static/img/header.jpeg" alt="https://www.thecrag.com/photo/2254076325">

<div class='bg-body' style="background-image: url({{ url_for('static', filename='img/rock-climber.jpg') }});" >
    
    <!-- <img src="static/img/rock-climber.jpg" id='bg-body'> -->
    <div class='container'>
        <h1 class="welcome">Welcome to Climbr</h1>
    
        
    
    
    
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Obcaecati suscipit blanditiis nihil cumque 
            ducimus necessitatibus aperiam vel quisquam totam 
            sint tenetur perferendis numquam accusamus, optio amet dicta 
            possimus ut tempore.
        </p>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Labore, dolorem! Asperiores facilis quasi laboriosam laborum, 
            error esse qui soluta accusantium, illo modi debitis facere expedita 
            omnis cumque mollitia culpa. Qui.
        </p>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Laborum officia deleniti commodi. Ea id perspiciatis accusamus? 
            Eius eveniet quis non voluptatem quaerat ducimus esse, repudiandae, 
            obcaecati, labore iure laudantium cumque.
        </p>
    </img>
    </img>
    </div>
</div>



    
{% endblock content %}

